<html>
<head>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Traveling Salesman Tournament</title>
    <link href="{{ url_for('static', path='/codehilite_styles.css') }}" rel="stylesheet">
</head>
<body>
    <h1>Traveling Salesman Tournament</h1>
    <p>
        <a href="{{url_for('viewer')}}">Tournament Viewer</a>
    </p>
    <p>
        <a href="{{docs_url}}">API Documentation</a>
    </p>
    <p>
        <a href="https://github.com/ChainBreak/tsp_tournament">Server GitHub</a>
    </p>
    

    <h2>Python Example</h2>
    {{code_html|safe}}
     
</body>
</html>